<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="icon" href="../../public/image/logoImg-icon.svg" type="image/x-icon">
</head>
<script src="./js/jquery.js"></script>
<link rel="stylesheet" href="../css/mutual.css">
<link rel="stylesheet" href="../css/loginPre.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap&family=Noto+Serif+TC:wght@200&display=swap&family=Fraunces&display=swap&family=Homemade+Apple&display=swap');
    /* @import url(./css/login.css); */
    /* @import url('./reset.css'); */

    .mynavbar{
   background-color: #FFF;
}
img{
    text-align: center;
}
</style>

</head>

<body>

    <%-include ('../nav.ejs')  %> 
    <main>
        <div id="main_box">
    
            <div class="main_content">
                <ul class="tab-group">
                    <li id="ologin" class="man1"><a href="/log/login">
                            <p><img src="../image/login_logout/man-1.png" alt="ordinary-login">
                                <img src="../image/login_logout/man-1y.png" alt="ordinary-login"></p> <h4>一般會員</h4>
                                <p> 一般使用者購票入口</p>
                        </a></li>
                    <li id="clogin" class="man2"><a href="/log/companyLogin">
                            <p><img src="../image/login_logout/man-3.png" alt="company-login">
                                <img src="../image/login_logout/man-3y.png" alt="company-login"></p><h4>企業會員</h4>
                                <p> 企業及樂團舉辦音樂季入口</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </main>
        <%-include ('../footer.ejs')  %> 

        <script>
            $().ready(function () {

                // 如何更漂亮寫法?
                $('.man1').mouseover(function () {
                   $('.man1 > a img:nth-of-type(1)').css('display', 'none')
                   $('.man1 > a img:nth-of-type(2)').css('display', 'inline-block')
                })
                
                $('.man1').mouseout(function () {
                    $('.man1 >a  img:nth-of-type(1)').css('display','inline-block' )
                   $('.man1 >a  img:nth-of-type(2)').css('display', 'none')
                });


                $('.man2').mouseover(function () {
                   $('.man2 > a img:nth-of-type(1)').css('display', 'none')
                   $('.man2 > a img:nth-of-type(2)').css('display', 'inline-block')
                })
                
                $('.man2').mouseout(function () {
                    $('.man2 >a  img:nth-of-type(1)').css('display','inline-block' )
                   $('.man2 >a  img:nth-of-type(2)').css('display', 'none')
                });
            })
        </script>

</body>

</html>