<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一般會員登入</title>
    <link rel="icon" href="../../public/image/logoImg-icon.svg" type="image/x-icon">
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/mutual.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap&family=Noto+Serif+TC:wght@200&display=swap&family=Fraunces&display=swap&family=Homemade+Apple&display=swap');

        span {
            visibility: hidden;
        }
    </style>

</head>

<body>

    <%-include ('../nav.ejs') %>
        <main>
            <div id="main_box">
                <div class="main_content">
                    <ul class="tab-group">
                        <li class="tab active"><a href="#login">會員登入</a></li>
                        <li class="tab "><a href="#signup">會員註冊</a></li>
                    </ul>

                    <div class="tab-content">
                        <!-- 只包含登入&註冊內容 -->
                        <div id="login">
                            <form id="loginForm">
                                <ul class="contentUl">
                                    <!-- 登入 -->
                                    <li>
                                        <br><input type="text" placeholder="帳號" name="userAccountL" id='userAccountL'
                                            class="username" required>
                                    </li>
                                    <li>
                                        <br><input type="password" placeholder="密碼" name="userPasswordL"
                                            id='userPasswordL' class="password" required>
                                    </li>
                                    <br>
                                    <li class="btm_text"> <input type="checkbox"> 記住我</li>



                                </ul><!-- 登入end -->
                                <!-- <input type="button" value="登入" class="logIn"> -->
                                <div class="btndiv"><button type="button" value="Login" id="loginSub"> 登入</button></div>
                                <br><a class="btm_text" href="#">忘記密碼?</a>
                            </form>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>


                        <div id="signup">

                            <form id="signupForm">

                                <ul class="contentUl">
                                    <!-- 註冊 -->
                                    <li>
                                        <br><input type="text" placeholder="*姓名" name="firstName" required
                                            id='firstName'>
                                    </li>
                                    <li>
                                        <br><input type="email" id="email" placeholder="*Email" name="userEmail"
                                            required>
                                        <span id="if1"><i class='fa fa-exclamation-circle' aria-hidden='true'
                                                style="margin: -20px;color:var(--color2)"></i>
                                            <b>格式有誤</b></span>
                                    </li>

                                    <li>
                                        <!-- 至少8位英數 -->
                                        <br><input type="text" placeholder="*帳號" name="userAccount" maxlength="15"
                                            id="account">
                                        <span id="if2"> <i class='fa fa-exclamation-circle' aria-hidden='true'
                                                style="margin: -20px;color:var(--color2)"></i>
                                            <b>帳號重複</b></span>
                                        <!-- <b>至少8位,包含英數</b> -->
                                    </li>
                                    <li>
                                        <!-- 至少8位英數 -->
                                        <br><input type="password" placeholder="*密碼&nbsp(至少8位英文+數字)" name="userPassword"
                                            maxlength="15" id="newpw">
                                        <span id="if3"> <i class='fa fa-exclamation-circle' aria-hidden='true'
                                                style="margin: -20px;color:var(--color2)"></i>
                                            <b>至少8位英數</b></span>
                                    </li>
                                    <!-- 要加入確認密碼 -->
                                    <li>
                                        <br><input type="password" placeholder="*確認密碼" name="userPassword"
                                            pattern="[a-zA-Z0-9]{8,}" maxlength="15" id="newpwCfm">
                                        <span id="if4"><i class='fa fa-exclamation-circle' aria-hidden='true'
                                                style="margin: -20px;color:var(--color2)"></i>
                                            <b>密碼不一致</b></span>
                                    </li>
                                    <br>
                                    <li class="btm_text"><input type="checkbox" required>我同意<a href="#">會員使用條款</a> </li>

                                    <li class="mt-2">* 為必填欄位，請填妥欄位資訊。</li>
                                </ul><!-- 註冊end -->


                                <div class="btndiv"> <button type="button" value="signup" id="signupSub"> 加入會員</button>
                                </div>
                            </form>

                        </div> <!-- signup end -->

                    </div><!-- tab-content end -->


                </div>


            </div>
        </main>
        <%-include ('../footer.ejs') %>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script>
                window.addEventListener('keydown', function (e) {
                    if (e.keyCode == 49) {
                        document.getElementById('userAccountL').value = 'clock520'
                        document.getElementById('userPasswordL').value = 'aaa520'
                    } else if (e.keyCode == 50) {
                        document.getElementById('firstName').value = '林宛如'
                        document.getElementById('email').value = '584de@'
                        document.getElementById('email').value = '584de@'
                        document.getElementById('account').value = 'clock520'
                        document.getElementById('newpw').value = 'aaa5250'
                        document.getElementById('newpwCfm').value = 'aaa520'
                    } else if (e.keyCode == 51) {
                        document.getElementById('firstName').value = '林宛如'
                        document.getElementById('email').value = 'alin78214@yahoo.com.tw'
                        document.getElementById('account').value = 'albee5380'
                        document.getElementById('newpw').value = 'aaa520'
                        document.getElementById('newpwCfm').value = 'aaa520'
                    }
                }, false);
                // 登入註冊切換
                $('.tab a').on('click', function (e) {

                    e.preventDefault();

                    $(this).parent().addClass('active');
                    $(this).parent().siblings().removeClass('active');

                    target = $(this).attr('href');

                    $('.tab-content > div').not(target).hide();

                    $(target).fadeIn(600);

                });

                // 註冊
                $('#signupSub').on('click', function () {
                    // var data = $('#signupForm').serializeArray()
                    // JSONData = serializeToJSON(data)

                    // //ajax請求
                    // $.ajax({
                    //     url: "/log/signup",
                    //     type: "POST",
                    //     contentType: "application/json; charset=utf-8",
                    //     data: JSONData,
                    //     success: function (res) {
                    //         var res = JSON.parse(res)
                    //         if (res.errno === 1) {

                    //             swal("註冊成功，請重新登入!","", "success")
                    //             .then((value)=>{
                    //                 location.href='/log/login';
                    //             });

                    //         } else if (res.errno === 0) {
                    //             swal("註冊失敗", "", "error")
                    //         }
                    //     },
                    //     error: function () {
                    //         alert("系統錯誤!")
                    //     }
                    // })
                    $.ajax({
                        url: "/log/email",
                        type: "post",
                        data: {
                            userName: $('#firstName').val(),
                            email: $('#email').val(),
                            code:Math.floor(Math.random()*900+100)
                        }
                    })
                })


                // 登入
                $('#loginSub').on('click', function () {
                    var data = $('#loginForm').serializeArray()
                    JSONData = serializeToJSON(data)

                    $.ajax({
                        url: "/log/login",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSONData,
                        success: function (res) {
                            var res = JSON.parse(res)
                            if (res.errno === 1) {
                                location.href = '/'
                            } else if (res.errno === 0) {
                                swal("帳號或密碼錯誤，請重新登入!", "", "error")
                            }
                        },
                        error: function () {
                            alert("系統錯誤!")
                        }
                    })
                })

                // 轉JSON
                function serializeToJSON(data) {
                    var values = {};
                    for (index in data) {
                        values[data[index].name] = data[index].value;
                    }
                    return JSON.stringify(values)
                }

                // mail格式確認
                $("#email").blur(function () {
                    var mail = $("#email").val();
                    var regex = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                    if (!regex.test(mail)) {
                        $("#if1").css('visibility', 'visible');
                    } else {
                        $("#if1").css('visibility', 'hidden')
                    }
                })


                // 帳號檢查是否重複
                $('#account').blur(function () {
                    var dataA = $('#account').serializeArray()
                    JSONData = serializeToJSON(dataA)

                    $.ajax({
                        url: '/log/check',
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        data: JSONData,
                        success: function (res) {
                            var res = JSON.parse(res)
                            if (res.errno === undefined) {
                                $("#if2 b:first-of-type").css('visibility', 'visible');
                                $("#if2 i").css('visibility', 'visible');
                            } else {
                                $("#if2 b:first-of-type").css('visibility', 'hidden')
                                $("#if2 i").css('visibility', 'hidden');
                            }
                        },
                        error: function () {
                            alert("系統錯誤!")
                        }
                    });
                    //  }

                })

                //密碼格式確認
                $("#newpw").blur(function () {

                    var pw = $("#newpw").val();
                    var regex = /[a-zA-Z0-9]{8,}/;

                    if (!regex.test(pw)) {
                        $("#if3").css('visibility', 'visible');
                    } else {
                        $("#if3").css('visibility', 'hidden')
                    };

                })


                // 檢查兩次密碼是否一致
                $('#newpwCfm').blur(function () {
                    var newps = $('#newpw').val();
                    var newpsCfm = $('#newpwCfm').val();
                    if (newps != newpsCfm) {
                        $("#if4").css('visibility', 'visible');
                    } else {
                        $("#if4").css('visibility', 'hidden')
                    }
                })




            </script>

</body>

</html>