<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一般會員登入</title>
    <link rel="icon" href="../image/logoImgS-bg.svg" type="image/x-icon">
</head>
<script src="../js/jquery.js"></script>
<link rel="stylesheet" href="../css/mutual.css">
<link rel="stylesheet" href="../css/login.css">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap&family=Noto+Serif+TC:wght@200&display=swap&family=Fraunces&display=swap&family=Homemade+Apple&display=swap');
    /* @import url(./css/login.css); */
    /* @import url('./reset.css'); */


    li:nth-of-type(5),
    li:nth-of-type(6) {
        font-size: 10px;
    }
</style>

</head>

<body>


    <div id="main_box">
        <!-- <img id="logo" src="./images/fake.png" alt=""> -->
        <div class="main_content">
            <ul class="tab-group">
                <li class="tab "><a href="#signup">Sign Up</a></li>
                <li class="tab active"><a href="#login">Log In</a></li>
            </ul>

            <div class="tab-content">
                <!-- 只包含登入&註冊內容 -->
                <div id="login">
                    <form id="loginForm"><!-- action="/" method="post"-->
                        <h1>Welcome Back!</h1>
                        <ul>
                            <!-- 登入 -->

                            <li>
                                <br><input type="text" placeholder="帳號" name="username" class="username" required>
                            </li>
                            <li>
                                <br><input type="password" placeholder="密碼" name="password" class="password" required>
                            </li>
                            <br>
                            <li class="btm_text"> <input type="checkbox"> 記住我</li>



                        </ul><!-- 登入end -->
                        <!-- <input type="button" value="登入" class="logIn"> -->
                        <button type="button" value="Login" id="loginSub"> 登入</button>
                        <br><a class="btm_text" href="#">Forgot your password?</a>
                    </form>
                </div>


                <div id="signup">

                    <form id= "signupForm"> <!--action="/" method="post"-->
                        <h1>Join us!</h1>
                        <ul>
                            <!-- 註冊 -->
                            <li>
                                <br><input type="text" placeholder="*姓名" name="firstName" required>
                            </li>
                            <li>
                                <br><input type="email" placeholder="*Email" name="userEmail" required>
                            </li>

                            <li>
                                <!-- 至少8位英數 -->
                                <br><input type="text" placeholder="*帳號" name="userAccount" pattern="[a-zA-Z0-9]{8,}" maxlength="15" >
                            </li>
                            <li>
                                <!-- 至少8位英數 -->
                                <br><input type="password" placeholder="*密碼" name="userPassword"  pattern="[a-zA-Z0-9]{8,}" maxlength="15">
                            </li>
                            <br>
                            <li>* 為必填欄位，請填妥欄位資訊。</li>
                            <li class="btm_text"><input type="checkbox" required>我同意<a href="#">會員使用條款</a> </li>
                        </ul><!-- 註冊end -->

                        <!-- <input type="button" value="加入會員" class="signUp"> -->
                        <button type="submit" value="signup"  id="signupSub"> 加入會員</button>
                    </form>

                </div> <!-- signup end -->

            </div><!-- tab-content end -->


        </div>

        </form>

        <script>
            // 登入註冊切換
            $('.tab a').on('click', function (e) {

                e.preventDefault();

                $(this).parent().addClass('active');
                $(this).parent().siblings().removeClass('active');

                target = $(this).attr('href');

                $('.tab-content > div').not(target).hide();

                $(target).fadeIn(600);

            });

            // 監聽click事件
            $('#signupSub').on('click',function(){
                // 序列化表單內容到字串
                //console.log($('#loginForm').serializeArray());

                var data = $('#signupForm').serializeArray()
                // console.log(data);
                JSONData = serializeToJSON(data)
                console.log(JSONData);
           

            //ajax請求
            $.ajax({
                url: "/log/login",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSONData,
                success: function(res) {
                    var res = JSON.parse(res)
                    if(res.errno === 1) {
                        alert("註冊成功!")
                        location.reload("/")
                    } else if(res.errno === 0) {
                        alert("註冊失敗!")
                    }
                },
                error: function() {
                    alert("系統錯誤!")
                }
            })
        })

            // 轉JSON
            function serializeToJSON(data){
                var values ={};
                for (index in data){
                    values[data[index].name] = data[index].value;
                }
                return JSON.stringify(values)
            }

            
        </script>

</body>

</html>