<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    * {
        box-sizing: border-box;
    }
    
    footer {
        background-color: #56555b;
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    
    .faFamily {
        text-align: center;
    }
    
    .fa {
        padding: 18px;
        font-size: 20px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        color: #e4e5e7;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .footerText {
        text-align: center;
        position: relative;
        margin: 20px;
        bottom: 20px;
    }
</style>

<body>
    <footer>
        <div class="faFamily">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-skype"></a>
        </div>
        <p class="footerText">&copy; CPOYRIGHT 2020 MUMU</p>
    </footer>
</body>

</html>