<!DOCTYPE html>
<html class="no-js">


<head>
    <meta charset="utf-8">
    <title>Mu mu index</title>

    <meta name="description" content="">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300,700italic" rel="stylesheet"
        type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/assets/bootstrap.min.css">

    <link rel="stylesheet" href="../css/assets/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <script src="../js/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <!--===============================
Preloading Splash Screen
===================================-->
    <div class="pageLoader"></div>

    <div class="majorWrap">
        <!--========================================
Header Content
===========================================-->
        <header id="sticktop" class="doc-header">



            <!--========================================
        Nav
        ===========================================-->
            <nav class="navbar navbar-default" id="main">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <img src=" " alt="" />
                        </a>
                    </div>

                    <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                        <button class="menuTrigger"><i class="fas fa-navicon"></i></button>
                        <div class="clearfix"></div>
                        <ul class="dl-menu">
                            <li class="parent active"><a href="#"><img src="" alt="">首頁{{message}}</a>
                            </li>
                            <li><a href=""><img src="" alt="">活動</a>
                            </li>
                            <li><a href="blog.html">樂團介紹</a></li>
                            <li><a href="gallery.html">周邊商品</a></li>
                            <li><a href="/article">參加心得</a></li>
                            <li><a href="store.html"><img src="" alt="">登入</a></li>


                        </ul>
                    </div><!-- /dl-menuwrapper -->
                </div>
            </nav>
        </header>

        <div id="ajaxArea">
            <!--=================================
    Main Slider
    =================================-->
            <section class="custom-slider">
                <div id="home-slider" class="xv_slider flexslider">
                    <ul class="slides">
                        <li class="xv_slide" data-slidebg="url('../image/index/01.jpg')">
                            <div class="albumAction">
                                <div class="container">
                                    <a class="btn btn-dark text-uppercase text-bold" href="#">
                                        <i class="fas fa-play"></i> 看活動
                                    </a>

                                </div>
                            </div>

                            <div class="flex-caption">
                                <div class="container">
                                    <div class="row">

                                        <!--column-->
                                        <div class="col-xs-12 col-sm-6 col-md-6 about-album">
                                            <div class="animated fadeInRight">
                                                <h2>Mercurio</h2>
                                                <h6>by emis killa</h6>
                                                <p>
                                                    <strong>The Brand New album of rapper emis killa.</strong><br /> Buy
                                                    the new album or listen 30 sec.<br>of all tracks!
                                                </p>
                                            </div>
                                        </div>
                                        <!--column-->
                                    </div>
                                    <!--row-->
                                </div>
                            </div>
                        </li>
                        <li class="xv_slide" data-slidebg="url('../image/index/02.jpg')">
                            <div class="albumAction">
                                <div class="container">
                                    <a class="btn btn-dark text-uppercase text-bold" href="#">
                                        <i class="fas fa-play"></i> 看活動
                                    </a>

                                </div>
                            </div>
                            <div class="flex-caption">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 slide-visual">
                                            <figure class="fadeInLeft animated">
                                                <img src="../image/expic1.jpg" alt="" />
                                            </figure>
                                        </div>
                                        <!--column-->
                                        <div class="col-xs-12 col-sm-6 col-md-6 about-album">
                                            <div class="animated fadeInRight">
                                                <h2>mitaric</h2>
                                                <h6>by Neith</h6>
                                                <p>
                                                    <strong>The Brand New album of rapper emis killa.</strong><br /> Buy
                                                    the new album or listen 30 sec.<br>of all tracks!
                                                </p>
                                            </div>
                                        </div>
                                        <!--column-->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="xv_slide" data-slidebg="url('../image/index/03.jpg')">
                            <div class="albumAction">
                                <div class="container">
                                    <a class="btn btn-dark text-uppercase text-bold" href="#">
                                        <i class="fas fa-play"></i> 看活動
                                    </a>

                                </div>
                            </div>
                            <div class="flex-caption">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-3 slide-visual">
                                            <figure class="fadeInLeft animated">
                                                <img src=" " alt="" />
                                            </figure>
                                        </div>
                                        <!--column-->
                                        <div class="col-xs-12 col-sm-6 col-md-6 about-album">
                                            <div class="animated fadeInRight">
                                                <h2>mitaric</h2>
                                                <h6>by Neith</h6>
                                                <p>
                                                    <strong>The Brand New album of rapper emis killa.</strong><br /> Buy
                                                    the new album or listen 30 sec.<br>of all tracks!
                                                </p>
                                            </div>
                                        </div>
                                        <!--column-->
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <!--=================================
    Albums Section
    =================================-->
            <section>
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h2 class="text-uppercase">活動資訊</h2>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="multiSearchWrapper">
                                    <div class="multiSearchWrapper-inner">
                                        <div class="custome-select clearfix">
                                            <b class="fas fa-angle-down"></b>
                                            <span>地區</span>
                                            <select name="albumType">
                                                <option value="00">北部</option>
                                                <option value="01">中部</option>
                                                <option value="02">南部</option>
                                            </select>
                                        </div>
                                        <input placeholder="Search" type="text" />
                                    </div>
                                    <!--inner-->
                                    <button class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!--section header-->
                <div class="container">
                    <div class="search-filters text-uppercase text-bold">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <div class="searched-for" data-before="Showing : ">
                                    <span class="s-keyword">Latest Albums</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-7 text-right">
                                <div class="search-actions">
                                    <ul>
                                        <li class="active"><a href="#">Latest2</a></li>
                                        <li><a href="activity_all.html">Trending</a></li>
                                    </ul>
                                    <ul>
                                        <li class="active"><a href="#">Week</a></li>
                                        <li><a href="#">Month</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--row-->
                </div>
                <!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="album-grid-wrap">
                                <a href="#" class="album-control btn xv-prev"><i class="fas fa-angle-left"></i></a>
                                <a href="#" class="album-control btn bottom-right xv-next"><i
                                        class="fas fa-chevron-right"></i></a>
                                <div class="album-grid text-uppercase clearfix">
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src="../image/activity/BANNER_large.jpg" width="265" height="265"
                                                alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src="" width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="266" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="266" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <!--album-grid-->
                            </div>
                            <!--album-grid-wrap-->
                        </div>
                        <!--column-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-wide btn-grey text-uppercase text-bold" href="activity_all.html">看更多2
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src=" " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src=" " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src=" " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src=" " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src=" " class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>


            <!--=================================
    Albums Section
    =================================-->
            <section>
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h2 class="text-uppercase">樂團介紹</h2>
                            </div>

                        </div>
                    </div>
                </header>
                <!--section header-->

                <!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="album-grid-wrap">
                                <a href="#" class="album-control btn xv-prev"><i class="fas fa-angle-left"></i></a>
                                <a href="#" class="album-control btn bottom-right xv-next"><i
                                        class="fas fa-angle-right"></i></a>
                                <div class="album-grid text-uppercase clearfix">
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="265" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="266" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <a href="album-single.html" class="album-unit">
                                        <figure><img src=" " width="266" height="265" alt="" />
                                            <figcaption>
                                                <span>Lorem</span>
                                                <h3>Ipsum Albumb</h3>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <!--album-grid-->
                            </div>
                            <!--album-grid-wrap-->
                        </div>
                        <!--column-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-wide btn-grey text-uppercase text-bold" href="albums.html">看全部
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!--=================================
Footer
=================================-->
            <footer class="doc-footer text-uppercase text-center">
                <div class="container">
                    <ul class="social-list style2 circular">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-tumblr"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-tumblr"></a></li>

                    </ul>
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>&copy; Copyright 2020 MuMu</strong>
                            <!-- <p>on suono you can listen to thousands songs and buy your favorite songs or albums.</p> -->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            // $(function () {
            //     function downloadarticleList() {
            //         $.get("/", function (e) {
            //             vueMain.articleList = JSON.parse(e);
            //         })
            //     }
            //     downloadarticleList();
            // })


            var vueMain = new Vue({
                el: "#main",
                data: {
                    message: "hello world",
                    articleList: []
                },
                // 函式
                methods: {
                    reverseText: function () {
                        this.message = this.message.split('').reverse().join("");
                    }
                    // showdata: $.ajax({
                    //     type: "put",
                    //     url: "/article",
                    //     data: newsApp.newsList[this.newsIndex]
                    // })
                    //     .then(function (e) {
                    //         downloadNewsList();
                    //     })
                }
            })
        </script>
        <!--=================================
            

       
</body>

</html>