<!DOCTYPE html>
<html class="no-js">


<head>
    <meta charset="utf-8">
    <title>Mu mu index</title>

    <meta name="description" content="">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="../css/mutual.css">
    <link rel="stylesheet" type="text/css" href="../css/assets/bootstrap.min.css">

    <link rel="stylesheet" href="../css/assets/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


</head>

<body>
    <!-- NAV -->
    <%-include("./nav.ejs")%>
    <button class="btn_tea2">eewew</button>
    <div style="margin-top:100px;">
       <%= data %> 
    </div>
    
    <div id="latestNews">HIHI</div>


    <%-include("./footer.ejs")%>
           
          




        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.toast.js"></script>
        <script>

        </script>



</body>

</html>