<!DOCTYPE html>
<html class="no-js">


<head>
    <meta charset="utf-8">
    <title>Mu mu index</title>

    <meta name="description" content="">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300,700italic" rel="stylesheet"
        type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../css/assets/bootstrap.min.css">

    <link rel="stylesheet" href="../css/assets/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="../js/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
   
    <br>
    <%= data %>
    <%-include("./nav.ejs")%>
    <!-- NAV -->

    <!-- <nav class="navbar navbar-default" id="main">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img src=" " alt="" />
                </a>
            </div>

            <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                <button class="menuTrigger"><i class="fas fa-navicon"></i></button>
                <div class="clearfix"></div>
                <ul class="dl-menu">
                    <li class="parent active"><a href="#"><img src="" alt="">首頁2{{message}}</a>
                    </li>
                    <li><a href=""><img src="" alt="">活動</a>
                    </li>
                    <li><a href="blog.html">樂團介紹</a></li>
                    <li><a href="gallery.html">周邊商品</a></li>
                    <li><a href="/article">參加心得</a></li>
                    <li><a href="activity/activity_all.html"><img src="" alt="">登入</a></li>


                </ul>
            </div>
        </div>
    </nav> -->
    </header>
    <div id="latestNews">HIHI</div>
    <%-include("./footer.ejs")%>



    <!-- ========== UI 與 JavaScript 分隔線 ========== -->


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.toast.js"></script>

    <script>

        // 使用方式:
        // showToast("標題", "提示文字") 例如:
        // showToast("Hint", "請點一下正確的圖案");
    </script>
       
</body>

</html>