<link rel="stylesheet" href="/../css/nav.css">
<!-- 記得改照片 現在寫死 -->
<% if(session.companyinfo){ %>
    <ul class="drop-down-menu">
    <!-- 企業導覽列不會有購票車-->
        <li><a href="/log"><img class="nav_head" src="/../image/upload/company/<%=session.companyinfo.cFile %>" alt="">&nbsp;<%=session.companyinfo.cName %> </a>
            <ul class="drop-down-menu2">
                <li>
                    <a href="/company" class="drop_list">我的活動</a>
                    <div>
                        <a href="/activity/create" class="third_menu">發起活動</a><br>
                        <a href="/company" class="third_menu">歷史活動</a>
                    </div>
                </li>
                <li>
                    <a href="/company/chart">售票狀況</a>
                </li>
                <li>
                    <a href="/company/edit">編輯資料</a>
                </li>
                <li>
                    <a href="/log/logout">登出</a>
                </li>
            </ul>
        </li>
        <li><a href="/article">參戰心得</a></li>
        <li><a href="/band">樂團簡介</a></li>
        <li><a href="/activity">活動列表</a></li>
        <li id="nav_logo" ><a href="/"><img src="/../image/logoImg.svg" style="width: 150px; ;vertical-align: baseline;"></a>
    </ul>    
<!-- 使用者登入後 -->
    <% }else if(session.userinfo){ %>
        <ul class="drop-down-menu"> 
            <li><a href="/user"><img class="nav_head" src="/../image/upload/user/<%=session.userinfo.file %>" alt="">&nbsp;<%=session.userinfo.name %> </a>
                <ul class="drop-down-menu2">
                    <li>
                        <a href="/user">我的票券</a>
                    </li>
                    <li>
                        <a href="/user/myArticle" class="drop_list">參戰心得</a>
                        <div>
                            <a href="/user/myArticle/new" class="third_menu">發表心得</a><br>
                            <a href="/user/myArticle" class="third_menu">我的心得</a>
                        </div>
                    </li>
                    <li>
                        <a href="/user/favorite">收藏追蹤</a>
                    </li>
                    <li>
                        <a href="/user/profile">編輯資料</a>
                    </li>
                    <li>
                        <a href="/log/logout">登出</a>
                    </li>
                </ul>
            </li>
            <li><a href="/cart">購票車</a></li>
            <li><a href="/article">參戰心得</a></li>
            <li><a href="/band">樂團簡介</a></li>
            <li><a href="/activity">活動列表</a></li>
            <li id="nav_logo" ><a href="/"><img src="/../image/logoImg.svg" style="width: 150px; ;vertical-align: baseline;"></a>
        </ul>    
        <!-- 未登入 -->
    <% }else { %>
        <ul class="drop-down-menu" id="myNav">
            <li><a href="/log">會員專區</a></li>
            <li><a href="/cart">購票車</a></li>
            <li><a href="/article">參戰心得</a></li>
            <li><a href="/band">樂團簡介</a></li>
            <li><a href="/activity">活動列表</a></li>
            <li  id="nav_logo" ><a href="/" ><img src="/../image/logoImg.svg" style="width: 150px; ;vertical-align: baseline;"></a>
        </ul>  

    <% }%>