<nav class="mynavbar">
    <a href="/cart">購票車</a>
    <a href="/log">會員專區</a>
    <a href="/article">參戰心得</a>
    <a href="/band">樂團簡介</a>
    <a href="/activity">活動專區</a>
    <a href="/" class="right"><img src="../image/logoImg.svg" style="width:150px;height: auto; "></a>
</nav>
   
