<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../css/mutual.css">
    <title>Document</title>
    <style>
        .mynavbar {
            overflow: hidden;
            /* position: fixed; */
            width: 100%;
        }
        
        .mynavbar a {
            float: right;
            display: block;
            text-align: center;
            margin: 10px 15px;
            padding: 14px 20px;
            text-decoration: none;
            color: #56555b;
        }
        
        .mynavbar a.right {
            float: left;
        }
        /* 如果在這一頁文字變黃 以活動為例  hover效果取消*/
        
        .mynavbar a:not(#activity):hover {
            background-color: #56555b;
            color: #E4E5E7;
        }
        
        #activity {
            color: var(--color2);
            border-bottom: 2px solid var(--color2);
        }
    </style>


</head>

<body>
    <nav class="mynavbar">
        <a href="#">購票車</a>
        <a href="#">會員專區</a>
        <a href="/article">參戰心得</a>
        <a href="/band">樂團簡介</a>
        <a id="activity" href="/activity">活動專區</a>
        <a href="/" class="right">logo</a>
    </nav>
   
</body>

</html>