@import url("mutual.css");

body{
    background-color: var(--color4);
}
.mynavbar{
    background-color: var(--color5);
}
.container{
    margin:  5rem 0;
}
textarea {
    height: 385px;
}
.title_div{
    background-image: url(../../image/upload/activity/1786349.jpg);
}
.justify-content-center{
    padding: 30px 0;
    padding-bottom: 130px;
}