
.whole{
    width: 100%;
    height: 100%;
    background-color: var(--color4);
    
}
.posting,
.heading {
    width: 80%;
    margin: 20px auto 0;
}
.form_input{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0px !important;
    border-radius: 0.5rem !important;

}
.title,
.article {
    width: 100%;
    margin-bottom: 20px !important          ;
    padding: 15px;
    border: 2px solid var(--color4);
    border-radius: 0.5rem;

}

.article {
    height: 500px;
    resize: none;
}
.del_img_icon{
    position: absolute;
    top: 10px;
    right:10px;
    padding: 10px;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 2px;
}
.del_img_icon:hover{
    cursor: pointer;
}
.btn {
    float: right;
}

.btns a {
    text-decoration: none;
    color: black;
}

.pic img {
    width: 10px;
    height: 10px;
}

.btns:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.all {
    width: 80%;
    margin: 0px auto ;
    padding: 60px;
  
}
.pre_pic{
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin: 10px;

}

@media screen and (max-width:750px) {
    .all {
        border: none;
        width: 80%;
        margin: 100px auto 50px auto;
        padding: 60px;
    }
    .posting,
    .heading {
        width: 80%;
        margin: 20px auto;
    }
}