.container {
    border-top: solid 3px var(--color1);
    width: 60%;
    margin: 100px auto 50px auto;
    padding: 60px;
}

.picbox {
    width: 80%;
}

.picbox img {
    width: 100%;
}

.sitetitle {
    text-align: center;
    margin-top: 60px;
    margin-bottom: -50px;
}

.btns {
    float: right;
    margin: 60px;
}

.btn a {
    text-decoration: none;
    color: black;
}
.btn_tea2{
    padding: 5px 10px;
}
.head_img{
    width: 60px;
    height: 60px;
}
.event_pic{
    width: 300px;
    height: 200px;
}
@media screen and (max-width:750px) {
    .container {
        border: none;
        width: 80%;
        margin: 100px auto 50px auto;
        padding: 60px;
    }
}