.banner {
    background-image: url(../../image/banner/band1.jpg);
}
figure .bandPhoto {
    width: 348px;
    height: 216px;
    object-fit: cover;
}

.searchpo {
    position: relative;
    left: 3%;
}

figure {
    position: relative;
    left: 7%;
}

.container {
    padding: 80px 0;
}

.bandIntro {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 25px;
    max-width: 600px;
    font-size: 14px;

}


/* Content */

.sectiontitle {
    display: block;
    max-width: 55%;
    margin: 0 auto 80px;
    text-align: center;
}

.ringcon {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
}
.overview{
    margin-bottom: 100px;
}


.overview>li:nth-last-child(-n+3) {
    margin-bottom: 0;
}



.overview>li figure {
    position: relative;
    max-width: 348px;
}

.overview>li figure a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.overview>li figure figcaption {
    display: block;
    width: 100%;
    padding: 15px;
}

.overview>li figure figcaption * {
    margin: 0;
}

.overview>li figure .heading {
    font-size: 18px;
    font-weight: 700;
}

.row3 {
    color: #474747;
    background-color: #FFFFFF;
}

.arc_pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/* Top Bar111 */
.overview>li figure:hover a::after {
    background-color: rgba(57, 69, 93, .4);
}

.myheading {
    text-align: center;
    margin-bottom: -60px;
    margin-top: 40px;
}

.heading.nospace {
    margin-bottom: 0;
}

.font-xs {
    font-size: .8rem;
}

.wrapper {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}

.hoc {
    display: block;
    margin: 0 auto;
}


/* HTML 5 Overrides
--------------------------------------------------------------------------------------------------------------- */

figcaption,
figure,
section {
    display: block;
    margin: 0;
    padding: 0;
}


/* Grid - RS-MQF 1140 V.2 - https://www.os-templates.com/free-basic-html5-templates/rs-mqf-1140
--------------------------------------------------------------------------------------------------------------- */

.one_third {
    display: inline-block;
    float: left;
    list-style: none;
}

.one_third {
    width: 30.52631%;
}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */

@-ms-viewport {
    width: device-width;
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width:1140px) {
    .hoc {
        max-width: 1140px;
    }
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:978px) {
    .hoc {
        max-width: 90%;
    }
    #topbar {}
    #header {}
    #mainav {
        padding: 15px;
    }
    #mainav ul {
        display: none;
    }
    #mainav form {
        display: block;
    }
    #comments input[type="reset"] {
        margin-top: 10px;
    }
    .pagination li {
        display: inline-block;
        margin: 0 5px 5px 0;
    }
    #footer {}
    #copyright {}
    #copyright p:first-of-type {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:750px) {
    .imgl,
    .imgr {
        display: inline-block;
        float: none;
        margin: 0 0 10px 0;
    }
    .fl_left,
    .fl_right {
        display: block;
        float: none;
    }
    .group .group>*:last-child,
    .clear .clear>*:last-child,
    .clear .group>*:last-child,
    .group .clear>*:last-child {
        margin-bottom: 0;
    }
    /* Experimental - Needs more testing in different situations, stops double margin when stacking */
    .one_third {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 30px 0;
        padding: 0;
    }
    #topbar {
        padding-top: 15px;
        text-align: center;
    }
    #topbar ul {
        margin: 0 0 15px 0;
        line-height: normal;
    }
    #header {}
    #pageintro article {
        max-width: none;
        text-align: left;
    }
    #pageintro .heading {
        font-size: 2rem;
    }
    #pageintro p:first-of-type {
        font-size: 1rem;
    }
    .sectiontitle {
        max-width: none;
    }
    .overview>li:nth-last-child(-n+3) {
        margin-bottom: 30px;
    }
    #latest article {
        max-width: 348px;
    }
}

@media screen and (max-width:450px) {
    #topbar ul li {
        margin-bottom: 2px;
        padding-right: 0;
        border-right: none;
    }
}


/* Other
--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:650px) {
    .scrollable {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        overflow: auto;
        overflow-x: scroll;
    }
    .scrollable table {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }
    .inline li {
        display: block;
        margin-bottom: 10px;
    }
    .pushright li {
        margin-right: 0;
    }
    .font-x2 {
        font-size: 1.4rem;
    }
    .font-x3 {
        font-size: 1.6rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.clear,
.group {
    display: block;
}

.clear::before,
.clear::after,
.group::before,
.group::after {
    display: table;
    content: "";
}

.clear,
.clear::after,
.group,
.group::after {
    clear: both;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}