html{
    background-color: var(--color4);
}
p{
    margin-bottom: 0px !important;
}
.box {
    width: 80% ;
    margin: 50px auto;
    background-color: white;
    padding: 50px;

}
table{
    width:100% ;
}
thead>tr>th{
    background-color: var(--color1);
    color: white;
    padding:10px 20px ;
  
}
.act_img{
    width: 100px;
    height: 100px;
    object-fit: cover;

}
tbody>tr>td{
    padding: 20px;
    border-bottom: 2px solid var(--color2);
}

.count_sec{
    font-size: 16px;
    /* margin-left:70%; */
    text-align: right;

  

}
.count_sec>p{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: right;
    text-align: right;
   
}
.text_tea{
    color: var(--color2);
    font-size: 20px;

}
.delete_txt:hover{
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    text-decoration: none !important;
}
.coupon_search{
    background-color: var(--color4);
    padding: 5px;
}
.warning{
    color:red;
    font-size:12px;
    text-align:right;
}
