body {
    min-height: 100vh;
}

.banner {
    background-image: url(../../image/banner/company2.jpg);
}

/* left----------------------------------------------------------------------- */

.emp-profile {

    background: var(--color1);
    margin-left: -60px;
}

.profile-img {
    text-align: center;
    
}

.profile-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* 換頭貼 */

.profile-pic {
    
    background-size: cover;
    background-position: center;
    /* 圓 */
    border-radius: 50%;
    height: 150px;
    width: 150px;

    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;

    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic:hover {
    position: relative;
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    
}
#avaimg{
    position: relative;

}


/* 隱藏 */
form input[type="file"] {
          display: none;
          cursor: pointer;
 }



 .select_left{
    margin: 0 20px;
    
} 
.select_left .profile-work{
    display: inline;
    
}
.select_left .profile-work div{
    text-align: center;
    

}


.profile-work a {
    text-decoration: none;
    color: var(--color5);
    font-weight: 600;
    font-size: 16px;
}

.profile-work a:hover {
    color: var(--color2);
    text-decoration: none;
}

.profile-tab p {
    font-weight: 600;
    color: black;
}

h4.right_title {
    border-left: 3px solid black;
    /* padding-left: 20px;
    margin-bottom: 20px; */
}
/* 前往活動頁面 */
.campaign_item {
    justify-content: space-between;
    padding: 20px 40px;
    border: 2px outset;
} 


a.go_activity {
    font-size: 50px; 
    line-height: 120px;
    color: #56555b;
}

a.go_activity:hover {
    text-decoration: none;
    color: #56555b;
    

}

.right_box {
    margin-top: 5%;
}

.contentin{
    margin-top: -30px;
}
h4.right_title {
    border-left: 3px solid black;
    padding-left: 20px;
    margin-bottom: 20px;
}