.box{
    width: 70%;
    margin: 0 auto;
}
.sub_title{
    margin-bottom: 20px;
    margin-top: 50px;
}

#activity {
    color: #ae8313;
    border-bottom: 2px solid #ae8313;
}
.act_content{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 25px;
    max-width: 600px;
}
.td_time{
    width: 20%;
    text-align: center;
}
.td_title{
    width: 30%;
    text-align: center;
}
thead>tr>th{
    padding: 5px 0px;
    font-size: 16px;
}
thead>tr>th{
    text-align: center;
}
tr{
    border-bottom: solid 1px var(--color4);
    padding: 0px 20px 0 0;
}
tr>td{
    padding: 200px;
  
}
/* 首頁輪播 */
#carouselExampleIndicators{
    margin-bottom: 30px;
}
.carousel-inner{
    height: 500px;
}
.carousel-item>img{
    height: 500px;
    object-fit: cover
}
.btngoshop{
    width: 100px;
    height: 50px;
    /* border: solid 2px; */
    padding: 10px 20px;
    border-radius: 45%;
    text-decoration: none;
}


/* 搜尋列 */
.searchbar{
    text-align: right; 
    margin: 50px 50px 0 0;
}
.fa-search{
    background-color:var(--color1);
    height: 40px;

}
.form_input{
    height: 40px;
}

/* 活動資訊 */
.badge{
    background-color: var(--color2);
    padding:10px 20px;

}
.follow{
    margin-top: -50px;
    z-index: 100;
}
/* .follow_sec{
    visibility: hidden;
} */

/* 樂團介紹 */

  
.swiper-wrapper>div>img{
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
  }
  /* .swiper-wrapper{
      position: relative;
  } */
.swiper-wrapper>div>img:hover{
    /* background-color: var(--color1) */

}
.imagetext{
    margin-top: -50px;
}

.imagetext>svg{
   opacity: 0;
}
.imagetext>svg:hover{

        fill:var(--color1);
        opacity: 100;
        z-index: 100;
    
}


    /* .imagetext:hover{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        
      } */
      
.swiper-slide {
    text-align: center;
    font-size: 18px;
   
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color:var(--color2) ;

}
/* .follow_sec{
    background-color: rgba(0, 0, 0, 0.5);
    color:var(--color5);
    height: 15px;
    padding: 20px 0px;
    margin-top: -35px;
    margin-bottom: 30px;
    z-index: 50;
    position: absolute;

    width: 90%;
} */

.live{
    border: solid 1px var(--color4);
    display: grid;
    grid-template-columns: 4fr 5fr 1fr 4fr 5fr 1fr;
    grid-template-rows: 3fr 1/5fr 3fr 1/5fr;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 3px 3px 10px lightgray;

}
.live img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.art_cont_sec{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 25px;
    
}
.arc_time{
    color:darkgrey;
    
}
.introsvg{
   display: flex; 
   align-items: center;
}
svg{
    color: var(--color2);

}
.introimg{
   margin-right: 10px;
   margin: 10px;

}
.introdate{
   text-align: right;
}
.borderB{
    border-bottom: solid 1px var(--color3);
}
.borderdate{
    border-bottom: solid 1px var(--color3);
}
.borderR{
    border-right: solid 1px var(--color3);
}
