* {
    font-size: 16px;
}

/* 最外層大div */
body{
    background: url(../image/login_logout/bg.png) no-repeat;
    background-size: 70% 100%;
    background-position: center;
    background-color: var(--color1);
}
#main_box {

    margin: 10px auto;
    padding: 10px;
    max-height: 530px;
}
/* tab-group 登入註冊標籤----------------------------------------------------- */

.tab-group {
    list-style: none;
    float: left;
    margin-left: 15%;
    margin-top: 30px;
}

/* .tab-group:after {
    content: "";
    display: table;
    clear: both;
} */
input[type=text], input[type=password],input[type=email]{
    border-bottom: #FFF 1px solid;
    width: 20vw;

}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 25px 20px;
    background: rgba(255, 255, 255, .4);
    color: rgba(57, 69, 93, .5);
    height: 80px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    color: var(--color1);
}

.tab-group .active a {
    background: var(--color2);
    color: var(--color4);
}

/* 登入註冊內容大div(含標籤)--------------------------------------------------------------------------- */
form{
    margin-left: 17%;
}
.main_content {
  
    max-width: 900px;
    margin-top: 5%;
    margin-left: 26%;
    text-align: left;
    
   
}
.contentUl{
    
    padding: 20px;
}
.main_content input[type=button]:focus {
    outline: none;
}


.btndiv{
    padding: 0px 20px  0 20px;
}
.main_content button {
    width: 20vw;
    height: 35px;
    color: var(--color1);
    background-color: var(--color2);
    border: 1px solid var(--color2);
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
}

.main_content button:hover {
    background-color: var(--color1);
    border: 1px solid var(--color2);
    color: var(--color2);
}

#login, #signup {
    margin-left: 50px;
   
}


/* 登入註冊內容大div(不含標籤)--------------------------------------------------------------------------- */

.tab-content {
    margin-left: 70px;
    /* 離tab距離 */
}

.tab-content>div:last-child {
    display: none;
}

/* login ----------------------------------------------------------------------------------*/

ul {
    list-style-type: none;
    color: var(--color5);
}

li {
    background-color: rgba(255, 255, 255, 0);
}

li input {
    outline: 0;
    border-width: 0 0 2px;
    border-color:var(--color4);
    background-color: rgba(255, 255, 255, 0);
   
}

input:focus {
    border-color: var(--color2);
}

input {
    color: #FFF;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btm_text input {
    appearance:auto ;
}

a.btm_text {
    color: var(--color5);
    margin-left: 30px;
}

a {
    color: inherit;
}

/* signup-------------------------------------------------------------------------------------------------------------------------------- */

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

/* RWD ----------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1280px) {
    form{
        margin-left: 15%;
    }
    .main_content {
      
        max-width: 700px;
        margin-top: 7%;
        margin-left: 24%;
        text-align: left;
        
       
    }
}

@media screen and (max-width: 960px) {
    .tab-group {
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .tab-group li a {
        padding: 0;
        line-height: 50px;
        width: 50%;
    }
    .tab_content {
        margin-left: 0;
    }
    h1 {
        margin-top: 50px;
        margin-left: -5px;
    }
    .tab-group li a {
        float: left;
        height: 50%;
    }
    /* #main_box {
        background: url(../image/login&logout/bgs.png);
        background-size: 100% 100%;
        background-position: center;
    }
    #main_boxC {
        background: url(../image/login&logout/bg2s.png);
        background-size: 100% 100%;
        background-position: center;
    } */
    .main_content button {
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    .tab-content {
        margin-left: 0;
    }
    form ul li {
        margin-left: -30px;
       
    }
   
    /* #main_box {
        background: url(../image/login&logout/bgs.png);
        background-size: 100% 100%;
        background-position: center;
    }
    #main_boxC {
        background: url(../image/login&logout/bg2s.png);
        background-size: 100% 100%;
        background-position: center;
    } */
}