*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 14px;
}
body{
    border: 0;
    line-height: 1;
    font-family: 'Noto Sans TC','serif' !important;
    box-sizing: border-box;
}
:root {
    --color1: #39455D;
    --color2:  #AE8313;
    --color3:  #56555B;
    --color4: #E4E5E7;
    --color5: white;
    
}
ul {
    list-style: none;
}
a { 
    text-decoration: none ;
    color:black  ;
}
a:hover { text-decoration: underline; }

input{
    border: none;
    border-bottom: 1px solid var(--color4);
    appearance:none;
    -moz-appearance:none;
}
input:focus{
    outline:none;
    border-bottom: 1px solid var(--color2);
}/*input標籤聚焦不出現預設邊框:*/

input.form_input{
    border:2px solid var(--color4);
    border-radius: 0.3rem;
    padding: 6px;
    appearance:none;
    -moz-appearance:none;
    margin: 10px;
}
input.form_input:focus{
    outline:none;
    border:2px solid var(--color1);
    padding: 6px;
}
button{
    cursor: pointer !important;
    border:0;
    background-color:var(--color5);
    outline:none;
}

.btn_tea1 {
    color:var(--color2);
    border:solid 1px var(--color2);
    padding: 10px 40px;
    margin-right: 30px;
    border-radius: 3px;
}

.btn_tea2 {
    color:var(--color5);
    padding: 10px 40px;
    margin-right: 30px;
    border-radius: 3px;
    border:solid 1px var(--color2);
    background-color: var(--color2);
}
.btn_blue1 {
    background-color: var(--color5);
    color:var(--color1);
    border: solid 1px var(--color1);
    padding: 10px 40px;
    margin-right: 30px;
    border-radius: 3px;
}
.btn_blue2 {
    background-color: var(--color1);
    color: var(--color5);
    padding: 10px 40px;
    margin-right: 30px;
    border-radius: 3px;
    
}

.btn_page {
    background-color: var(--color4);
    color: var(--color2);
    border:solid var(--color2) 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px 5px;
}
.btn_page:hover {
    background-color: var(--color2);
    color: var(--color4);
    border:solid var(--color2) 1px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}


.btn_search{
    background-color: var(--color1);
    color: var(--color5);
    padding: 10px ;
    margin-right: 30px;
    border-radius: 3px;
}

.btn_tea_radius {
    padding: 8px 40px;
    background-color: var(--color2);
    color: #E4E5E7;
    border:solid  var(--color2)  1px;
    border-radius: 50px;
    margin: 20px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.sub_title{
    font-size: 16px;
    font-weight:bold;
    color: var(--color3);
}
.head_set{
    position: relative;
    display: inline-block;
    width: 150px;
}

.head_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}
.camera_box{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color4);
    text-align: center;
    line-height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;

}

/* 標籤 */
.tags {    
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 10px 20px 10px 0;
    padding: 0 10px 0 12px;
    background: var(--color1);    
    -webkit-border-bottom-right-radius: 3px;    
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;    
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
}
.tags:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent var(--color1) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
    }

.tags:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}

/* logo 特效 */
/* .link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 3rem;
    line-height: 1;
    color: #9e9ba4;
    display: inline-block;
}
.link--kukuri {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #b2b0a9;
}

.link--kukuri:hover {
    color: #b2b0a9;
}

.link--kukuri::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    transform: translate3d(-100%,0,0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
    transform: translate3d(100%,0,0);
}

.link--kukuri::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #424242;
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
    width: 100%;
} */

