
.banner{
    width: 100vw;
    height: 200px;
    margin: 0;
}

.title{
    color: var(--color5);
    position: relative;
    top: -100px;
    left: 100px;
   
}

#banner_box{
    margin-bottom: -45px
}

/* 收藏tab */
#myTab  {
    color:black;
}

/* #home-tab::after{
    content:"!!!!!!!!"
} */

/* RWD */

@media screen and (max-width: 1300px){
    div .profile-img{
        margin-left: 0;
    }

}
    