

/* 收藏tab */
#myTab  {
    color:black;
}

.card_img, .band_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* RWD */

@media screen and (max-width: 1300px){
    div .profile-img{
        margin-left: 0;
    }

}
    