<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./article_preview.css">

</head>

<body>
    <h1 class="sitetitle">參戰心得</h1>
    <div class="container">

        <h2 class="heading">
            搖滾 x 群山 x 美食 x 露營 x 親子寵物：游牧森林音樂祭 2018 遊記</h2>
        <p class="date">2018-10-15</p>
        <img src="" alt="">
        <p class="article">
            游牧森林音樂祭的前身 Nomad 全台戶外咖啡大賽，今年 10 月 13 日至 14 日於南投舉辦的第二屆才轉型為音樂祭，並結合露營等活動，首度以此形式舉辦就獲得非常成功的迴響，可以說是第一個真正會讓人聯想到日本 FUJI ROCK 的台灣南投版戶外音樂祭。 就連過去主辦火球祭十分成功的滅火器主唱大正也在表演時大讚游牧森林音樂祭的執行力。完全是去過一次就會上癮的等級，即使是非樂迷朋友也十分推薦前往體驗！本篇將深入淺出的介紹此音樂祭的特色、陣容、週邊，以及與日本大型戶外音樂祭 FUJI ROCK 的比較。
        </p>
        <div class="picbox"><img src="./img/expic1.jpg" alt=""></div>
        <p>游牧森林音樂祭的前身 Nomad 全台戶外咖啡大賽，今年 10 月 13 日至 14 日於南投舉辦的第二屆才轉型為音樂祭，並結合露營等活動，首度以此形式舉辦就獲得非常成功的迴響，可以說是第一個真正會讓人聯想到日本 FUJI ROCK 的台灣南投版戶外音樂祭。 就連過去主辦火球祭十分成功的滅火器主唱大正也在表演時大讚游牧森林音樂祭的執行力。完全是去過一次就會上癮的等級，即使是非樂迷朋友也十分推薦前往體驗！本篇將深入淺出的介紹此音樂祭的特色、陣容、週邊，以及與日本大型戶外音樂祭 FUJI
            ROCK 的比較。
        </p>
        <div class="picbox"><img src="./img/expic2.jpg" alt=""></div>
        <p>我很喜歡游牧森林如何把一個音樂祭只專注在幾個主題上，並試著做到最好。沒有大雜燴，沒有過多的資訊，可以跟家人朋友一起在大自然與音樂的包圍下，卻又不缺乏生活機能的場所中好好放鬆、好好享受單純美好的時間。以一個中型音樂祭來說，這樣不就足夠了嗎？</p>

    </div>
    <div class="btns">
        <button class="btn"> <a href="./post.html">修改</a> </button>
        <button class="btn"> <a href="./article.html">發表</a> </button>
    </div>
    <div id="test">{{test}}</div>
    <script>
        var vueMain=new Vue[{
            el:"#test",
            data:{
                test:"OK"
            }

        }]

    </script>
</body>

</html>