<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>參戰心得列表</title>
    <link rel="stylesheet" href="../../css/article_all.css">
    <link rel="stylesheet" href="../../css/mutual.css">
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <%-include ("../nav.ejs")%>
        <!-- 已解決:時間格式處理=>放在component裡  用computed去改  -->
        <!-- 待解決 {{showDate[0]}}  標籤   -->
        <div>
            <img src="../../image/banner/article.jpg" alt="" class="banner" style="object-fit: cover;">
            <p class="title ">參戰心得列表</p>
        </div>
        <div class="wrapper row3" id="main">
            <main class="hoc container clear">
                <div style="padding-left:10px;">
                    <a href="" class="tags" v-on:click="portHandler">大港開唱</a>
                    <a href="" class="tags">覺醒音樂祭</a>
                </div>
                <!-- 搜尋欄 -->
                <div class="float-right mb-3 mr-4">
                    <input type="text" id="search_input" class="form_input" style="background-color: var(--color4);"
                        placeholder="搜尋相關文章" name="search_text" v-model="search_text">
                    <i class="fas fa-search btn_search" v-on:click="searchHandler"></i>
                </div>


                <ul class="nospace group overview" id="itemContainer">
                    <!-- <articleitem v-bind:item="article" v-for="(article,idx) in articleList"></articleitem> -->
                    <articleitem id="allArticle"v-bind:item="article" v-for="(article,index) in filteredArticles"></articleitem>

                </ul>

                <div class="text-center">
                    <% for (i=1;i<=last_page;i++){ %>
                        <a href="/article/<%= i %>" class="text-center">
                            <button class="btn_page">
                                <%= i %>
                            </button>
                        </a>
                        <% } %>
                </div>
            </main>
        </div>



        <%-include ("../footer.ejs")%>


            <script type="text/x-template" id="article">
                <li class="one_third searchable">
                    <figure>
                        <a :href="'/article/item/'+item.articleId">
                            <img v-if="item.articleFile"
                             :src="'../../image/upload/article/'+item.articleFile" alt=""
                                class="arc_pic"></a>
                        <figcaption>
                            <h6 class="heading"><b>{{item.articleTitle}}</b></h6>
                            <p>{{showDate[0]}}</p>
                        </figcaption>
                    </figure>
                </li>
            </script>
            <script>
                var no = location.href.split('/');
                var index = no[no.length - 1];
                Vue.component('articleitem', { //自訂元素的名稱
                    props: ['item'], //填上上面取名的接口名稱
                    template: '#article',

                    computed: {
                        showDate: function () {
                            const List = vueMain.articleList.map(item => {
                                var d = new Date(Object.values(item)[4])
                                var times = d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, "0") + '-' + d.getDate().toString().padStart(2, "0");
                                times.toString()
                                return times
                            }); // 0 表示第一個屬性值
                            return List
                        },
                    }

                })

                var vueMain = new Vue({
                    el: "#main",
                    data: {
                        articleList: [],
                        search_text: "",
                    },
                    mounted: function () {
                        $.get("/article/data/" + index, function (e) {
                            vueMain.articleList = JSON.parse(e)[0];
                        })
                    },
                    // 函式
                    methods: {
                        searchHandler: function () {
                            // var data = {
                            //     search_text: this.search_text
                            // }
                            // $.ajax({
                            //     url: "/article/search",
                            //     type: "POST",
                            //     data: data,
                            // }).then(function (res) {
                            //     // this.articleList=res;
                            //     $.post("/article/search", function (e) {
                            //         vueMain.articleList = res;
                            //         console.log(vueMain.articleList)
                            //     })
                            // }).catch(err => console.log(err.response))
                        },
                        portHandler: function () {
                            console.log("a")
                            $.get("/article/search/port", function (e) {
                                this.articleList = JSON.parse(e)[0];
                                // alert(e)
                            })
                        }
                    },
                    computed: {
                        filteredArticles: function () {
                            var articles_array = this.articleList,
                                search_text = this.search_text;
                            if (!search_text) {
                                return articles_array;
                            }
                            articles_array = articles_array.filter(function (item) {
                                if (item.articleContent.indexOf(search_text) !== -1) {
                                    return item;
                                }
                            })
                            // Return an array with the filtered data.
                            return articles_array;

                        }, filteredPort: function () {
                            var articles_array = this.articleList,
                                // if (!search_text) {
                                //     return articles_array;
                                // }
                                articles_array = articles_array.filter(function (item) {
                                    if (item.articleContent.indexOf("大港開唱") !== -1) {
                                        return item;
                                    }
                                })
                            // Return an array with the filtered data.
                            return articles_array;
                        }
                    }
                })

            </script>
</body>

</html>