<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>參戰心得列表</title>
    <link rel="stylesheet" href="../css/article_all.css">
    <link rel="stylesheet" href="../css/mutual.css">
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <%-include ("../nav.ejs")%>
    <form action="/article/upload_file/article" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" accept="image/*" id="articleFile"><br><br>
        <img id="demo"/>
        <input type="submit" value="確定">
    </form>
    <div>
        <img src="../../image/article/article1.jpg" alt="" class="banner" style="object-fit: cover;">
        <p class="title">參戰心得列表</p>
    </div>
    <div class="wrapper row3" id="main">
        <main class="hoc container clear">
            <!-- 搜尋欄 -->
            <div class="float-right mb-3 mr-4">
                <input type="text" class="form_input" style="background-color: var(--color4);"
                    placeholder="搜尋相關文章">
                <i class="fas fa-search btn_search"></i>
            </div>
            <ul class="nospace group overview" id="itemContainer">
                <articleitem v-bind:item="article" v-for="(article,idx) in articleList">

                </articleitem>
            </ul>
        </main>
    </div>
    <%-include ("../footer.ejs")%>
    <script>
        // 文章上傳預覽的功能
        $('#articleFile').change(function () {
            var file = $('#articleFile')[0].files[0];
            var reader = new FileReader;
            reader.onload = function (e) {
                var txt2=$("<img />").attr('src', e.target.result)
                var y=$('#articleFile').after(txt2);
            };
            reader.readAsDataURL(file);
        });
    </script>
    <script type="text/x-template" id="article">
        <li class="one_third searchable">
            <figure>
                <a :href="'../article/item/'+item.articleId"><img
                        :src="'../image/article/'+item.articleFile" alt=""
                        class="arc_pic"></a>
                <figcaption>
                    <h6 class="heading"><b>{{item.articleTitle}}<b></h6>
                    <p>{{item.articleTime}}</p>
                </figcaption>
            </figure>
        </li>
    </script>
    <script>    
        // $.get("/article/data", function (e) {
        //     vueMain.articleList = JSON.parse(e);
        // })
        Vue.component('articleitem', { //填入我們上面自訂組件的名稱
            props: ['item'], //填上上面取名的接口名稱
            template: '#article',
            mounted: function () {
                $.get("/article/data", function (e) {
                    vueMain.articleList = JSON.parse(e);
                    console.log(vueMain.articleList)
                })
            }
        })

        var vueMain = new Vue({
            el: "#main",
            data: {
                // message: "OK",
                articleList: [{}
                    // { articleTitle: '心得', articleTime: '2020-10-05',articleFile:'article.jpg' },
                    // { articleTitle: '心得2', articleTime: '2020-10-06',articleFile:'article2.jpg' }
                ],
            },
            // 函式
            methods: {

            }
        })
    </script>
</body>

</html>