<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>參戰心得</title>
    <link rel="stylesheet" href="../../css/mutual.css">
    <link rel="stylesheet" href="../../css/article_single.css">
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.css">
    <script src="../../js/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <%-include ("../nav.ejs")%>
        <!-- 已解決:內容換行符號 時間顯示處理 最後一篇 下一篇連結消失 發佈留言-->

        <!--  留言登入後可以編輯自己的訊息-->
        <!--  沒留言要登入-->

        <div>
            <img src="../../image/article/article2.png" alt="" class="banner" style="object-fit: cover;">
            <p class="title">參戰心得2</p>
        </div>

        <div id="main">

            <div class="box">
                <!-- 標題/時間/PO文者 -->
                <div class="d-flex justify-content-between">
                    <p class="sub_title">{{article.articleTitle}}</p>

                    <div>
                        <img v-if="article.userFile" class="head_img " :src="'../../image/upload/user/'+article.userFile" alt="">
                        <span>{{article.lastName}}{{article.firstName}}</span>
                    </div>
                </div>
                <p>{{showDate}}</p>
                <br>
                <br>

                <!-- 文章內容 -->
                <!-- 為了解決換行 用computed -->
                <p v-if="article.articleContent" v-html="lineBreak"></p>
                <!-- 文章圖片 -->
                <!-- 若沒加v-if 圖片正常顯示 但log會有錯誤 404 not found -->
                <img v-if="article.articleFile" :src="'../../image/upload/article/'+article.articleFile" class="event_pic" alt="">
                <!-- 留言區 -->
                <br><br><br><br>
                <p class="sub_title">留言</p>
                <div class="ml-5">
                    <p class="msg_no">{{commentNo}}則留言</p>
                </div>
                <!-- 可以留言的區塊 -->
                <div class="d-flex">
                    <img v-if="user.userFile" :src="'../../image/upload/user/'+user.userFile" alt="" class="head_img mr-3">
                    <div class="bg-light d">
                        <textarea v-model="comment_text" name="comment_text" v-model="comment_text" class="form_input"
                            placeholder="新增回應" autofocus cols=50 rows="3"></textarea><br>
                        <button class="btn_grey" v-on:click="submitHandler">發佈</button>
                    </div>
                </div>

                <!-- 別人的留言 -->
                <div class="msg_sec">
                    <div class="d-flex align-items-center m-3" v-for="(item,index) in comment">
                        <img :src="'../../image/upload/user/'+item.userFile" alt="" class="head_img mr-3">
                        <div>
                            <p>
                                <span class="text-primary">{{item.userAccount}}</span>
                                <span>發表於</span>
                                <span class=text-muted>{{showCommentDate[index]}}</span>
                            </p>
                            <p>{{item.commentContent}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="d-flex justify-content-center">
                <li class="m-5"><a :href="'/article/item/'+index_last" id="last_arc"><i
                            class="fas fa-angle-left"></i>上一篇</a> </li>
                <li class="m-5"><a href="/article/1">回列表</a> </li>
                <li class="m-5"><a :href="'/article/item/'+index_next" id="next_arc">下一篇<i
                            class="fas fa-angle-right"></i></a> </li>
            </ul>
        </div>
        </div>
        <%-include ("../footer.ejs")%>
</body>

<script>
    // 去尋找網址列中是否有資料傳遞(QueryString)
    //之後去分割字串把分割後的字串放進陣列中
    var no = location.href.split('/');
    var index = no[no.length - 1];
    $(function () {
        // 第一頁的話  上一篇a連結消失
        if (vueMain.index_last <= 0) {
            $("#last_arc").css('display', "none");
        }
        else if (vueMain.index_next > vueMain.maxArticle) {
            $("#next_arc").css('display', "none")
        }
    })
    // 重整畫面=>輸入評論後
    // function refreshPage() {
    //     $.get("/article/item/data/" + index, function (e) {
    //         // 這邊用this會失敗
    //         vueMain.content = JSON.parse(e);
    //         // vueMain.index_last = vueMain.content[0][0].articleId - 1;
    //         // vueMain.index_next = vueMain.content[0][0].articleId + 1;
    //         vueMain.comment_text = '';
    //     })
    // }
    var vueMain = new Vue({
        el: "#main",
        data: {
            content: {
            },
            article: {
                articleId: 1,
                articleTitle: "",
                articleContent: "",
                articleTime: "",
                articleFile: "",
                firstName: "",
                lastName: "",
                userFile: ""
            },
            index_last: 0,
            index_next: 0,
            comment_text: '',
            commentNo:0,
            comment: [],
            maxArticle: 0,
            user: ''
        },
        beforeMount: function () {
            var x = $.get("/article/item/data/" + index, function (e) {
                // 這邊用this會失敗
                vueMain.content = JSON.parse(e);
                vueMain.index_last = vueMain.content[0][0].articleId - 1; //上一篇
                vueMain.index_next = vueMain.content[0][0].articleId + 1; // 下一篇
                vueMain.article = JSON.parse(e)[0][0];
                vueMain.comment = vueMain.content[1];
                vueMain.commentNo = vueMain.content[2][0].COUNT;
                vueMain.user = vueMain.content[3][0];
                vueMain.maxArticle = vueMain.content[4][0].COUNT //計算最大篇數 消失下一篇按鈕
            })
        },
        // updated:function(){
        //     var x = $.get("/article/item/data/" + index, function (e) {
        //         // 這邊用this會失敗
        //         vueMain.content = JSON.parse(e);
        //     })
        // },
        methods: {
            submitHandler: function () {
                var newComment = {
                    comment_text: this.comment_text,
                    index: this.content[0][0].articleId
                }
                $.ajax({
                    type: "post",
                    url: "/article/comment",
                    data: newComment
                }).then(function () {
                    $.get("/article/item/data/" + index, function (e) {
                        this.content = JSON.parse(e);
                        this.comment_text = '';
                        window.location.reload();//要重整畫面才會出現 暴力方法
                    })
                    console.log("a")
                })
            },
        },
        computed: {
            lineBreak: function () {
                console.log('aaa',this.article.articleContent) //會執行兩次  一次undefined 一次正常
                return this.article.articleContent.replace(/\n|\r\n/g, "<br />")
            },
            //修改日期格式
            showDate: function () {
                var time = this.article.articleTime;
                var d = new Date(time);
                var times = d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, "0") + '-' + d.getDate().toString().padStart(2, "0");
                return times
            },
            showCommentDate: function () {
                // const List = this.articleList.map(item => Object.values(item)[4]); 
                const List = vueMain.comment.map(item => {
                    var d = new Date(Object.values(item)[1])
                    var times = d.getFullYear() + '-' + (d.getMonth() + 1).toString().padStart(2, "0") + '-' + d.getDate().toString().padStart(2, "0") + ' ' + d.getHours().toString().padStart(2, "0") + ':' + d.getMinutes().toString().padStart(2, "0") + ':' + d.getSeconds().toString().padStart(2, "0");
                    times.toString()
                    return times
                }); // 0 表示第一個屬性值
                return List
            },
        },
        watch:{
         
        }



    })

</script>

</html>