<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>參戰心得</title>
    <link rel="stylesheet" href="../css/article_all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <form action="/article/upload_file" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" accept="image/*" id="articleFile"><br><br>
        <img id="demo"/>
        <input type="button" value="確定">

    </form>
    <div class="wrapper row3" id="main">
        <h2 class="myheading">參戰心得</h2>
        <main class="hoc container clear">
            <div class="sectiontitle">
            </div>
            <input type="text" placeholder="search" id="search">
            <input type="button" id="sub" value="搜尋">
            <ul class="nospace group overview" id="itemContainer">
                <articleitem v-bind:item="article" v-for="(article,idx) in articleList" class="one_third searchable">


                </articleitem>
            </ul>
        </main>
    </div>
    <script>
        // 文章上傳預覽的功能
        $('#articleFile').change(function () {
            var file = $('#articleFile')[0].files[0];
            var reader = new FileReader;
            reader.onload = function (e) {
                var txt2=$("<img />").attr('src', e.target.result)
                var y=$('#articleFile').after(txt2);
            };
            reader.readAsDataURL(file);
        });
    </script>
    <script type="text/x-template" id="article">
        <li class="one_third searchable">
            <figure>
                <a :href="'../article/item/'+item.articleId"><img
                        :src="'../image/article/'+item.articleFile" alt=""></a>
                <figcaption>
                    <h6 class="heading">{{item.articleTitle}}</h6>
                    <p>{{item.articleTime}}</p>
                </figcaption>
            </figure>
        </li>
    </script>
    <script>    
        // $.get("/article/data", function (e) {
        //     vueMain.articleList = JSON.parse(e);
        // })
        Vue.component('articleitem', { //填入我們上面自訂組件的名稱
            props: ['item'], //填上上面取名的接口名稱
            template: '#article',
            created: function () {
                $.get("/article/data", function (e) {
                    vueMain.articleList = JSON.parse(e);
                    console.log(vueMain.articleList)
                })
            }
        })

        var vueMain = new Vue({
            el: "#main",
            data: {
                // message: "OK",
                articleList: [{}
                    // { articleTitle: '心得', articleTime: '2020-10-05',articleFile:'article.jpg' },
                    // { articleTitle: '心得2', articleTime: '2020-10-06',articleFile:'article2.jpg' }
                ],
            },
            // 函式
            methods: {

            }
        })
    </script>
</body>

</html>