<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發表參戰心得</title>
    <link rel="stylesheet" href="../../css/mutual.css">
    <link rel="stylesheet" href="../../css/article_create.css">
    <link rel="stylesheet" href="../../css/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <script src="../../js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <%-include ("../nav.ejs")%>
        <!-- 已解決:上傳單張圖片功能 -->
        <!-- 選擇照片那要有刪除功能 -->
        <!-- 照片資料庫設定    -->
        <!-- 前端要判斷欄位值不能為空 -->

        <div class="whole" id="main">
            <div>
                <img src="../../image/article/article2.png" alt="" class="banner" style="object-fit: cover;">
                <p class="title">發表參戰心得</p>
            </div>
            <div class="all">

                <!-- <form action="/article/upload" method="post" enctype="multipart/form-data" class="posting"> -->
                <input v-model="title" class="form_input" type="text" placeholder="請輸入文章標題">
                <br><br>

                <label for=""><b>心得內容:</b></label>
                <textarea v-model="content" name="" id="" placeholder="分享你的音樂祭心得" class="article form_input"></textarea>

                <label class="btn_blue1">
                    <input v-on:change="imageHandler" type="file" name="myfile" accept="image/*" id="articleFile"
                        style="display:none;" multiple>
                    <i class="fas fa-camera"></i>新增圖片
                </label><br><br>
                <div id="img_sec" class="d-flex flex-wrap">
                    <p></p>
                </div>
                <div style="text-align:right;">
                    <button class="btn_tea1" v-on:click="cxlHandler">取消</button>
                    <button class="btn_tea2" v-on:click="submitHandler">發表</button>
                </div>
                {{image}}
                {{title}}
                {{content}}
                <!-- </form> -->
            </div>
        </div>
        <%-include ("../footer.ejs")%>


            <script>
                var vueMain = new Vue({
                    el: "#main",
                    data: {
                        title: "",
                        content: "",
                        image: ""
                    },
                    methods: {
                        submitHandler: function () {
                            //上傳圖片的input
                            var file = document.getElementById("articleFile")
                            //因為準備用post提交，又因為圖片的內容比較大，所以使用formdata來承載資料
                            //建立formdata物件
                            var formData = new FormData();
                            //給formdata物件中放入資料(鍵值對的方式)
                            formData.append('file', file.files[0]);

                            var Today = new Date();
                            var date = Today.getFullYear().toString() + (Today.getMonth() + 1).toString().padStart(2, "0") + Today.getDate().toString().padStart(2, "0");
                            this.image = date + '-' + formData.get('file').name

                            var newActivity = {
                                title: this.title,
                                content: this.content,
                                image: this.image
                            }

                            // 因為圖片文字格式不同  所以使用兩次ajax
                            $.ajax({
                                url: '/article/upload/file',//請求路徑
                                type: 'POST',
                                data: formData,
                                contentType: false,//為了讓瀏覽器根據傳入的formdata來判斷contentType
                                processData: false,//同上
                                success: function (data) {
                                },
                                error: function (err) {
                                    console.log(err);
                                }
                            });
                            // 這邊之後要改正   url 到user
                            $.ajax({
                                type: "post",
                                url: "/article/upload",
                                data: newActivity
                            }).then(function () {
                                alert("已成功上傳文章 回到我的文章去看看吧")
                                location.href = "/user/myArticle";
                            })
                        },
                        cxlHandler: function () {
                            location.href = "/user/myArticle";
                        },
                        imageHandler: function () {
                            var file = $('#articleFile')[0].files[0];
                            var reader = new FileReader;
                            reader.onload = function (e) {
                                var img = $("<img />").attr('src', e.target.result).addClass("pre_pic");
                                var deleteBtn = $('<i class="fas fa-trash-alt del_img_icon" v-on:click="deleteImgHandler">刪除</i>');
                                var newDiv = $("<div style='position:relative'> </div>").append(img).append(deleteBtn)
                                var y = $('#img_sec').prepend(newDiv);
                            };
                            reader.readAsDataURL(file);
                        },
                        // deleteImgHandler: function () {
                        //     $("body").on("click",".del_img_icon", function () {
                        //         console.log("aaa")
                                
                        //     })
                        // }
                    }
                })

            </script>
</body>

</html>