<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>活動新增</title>
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/activity_create.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/Bootstrap/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .title_div{
            width: 100vw;
            height: 250px;
            background-color: rgba(107, 139, 184, 0.6);
            background-blend-mode: multiply;
            background-image: url(../../image/upload/activity/1786349.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .title_div>.title{
            margin-left: 100px;
            margin-top: 80px;
        }
        input .check_btn .form-check-input{
            appearance:auto;
        }
        .justify-content-center{
            padding: 30px 0;
            padding-bottom: 130px;
        }
        
    </style>

</head>

<body>
    <%-include("../nav.ejs")%>
    <!-- 導覽列 開始 -->
    <div class="title_div"><img>
        <h4 class="title" style="color: #fff;">發起活動</h4>
    </div>

    <!-- 導覽列 結束 -->

        <form id="form" method="POST" action="">
            <div class="row justify-content-center">
                <!-- 左側 -->
                <div class="col-md-3 ml-5 mr-5">
                    
                    <div class="form-group row">
                        <label for="activityTitle" class="col-md-12">音樂會主題</label>
                        <div class="col-md-12">
                            <input class="form-control" id="activityTitle" name="activityTitle" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sellDate" class="col-md-12">活動時間</label>
                        <div class="col-md-12 mb-2">
                            <input class="form-control" id="activityDate1" name="activityDate1" type="datetime-local">
                            <input class="form-control" id="activityDate2" name="activityDate2" type="datetime-local">
                        </div>
                        <label for="sellDate" class="col-md-12">開始售票</label>
                        <div class="col-md-12 mb-2">
                            <input class="form-control" id="sellDate" name="sellDate" type="datetime-local">
                        </div>
                        <!-- <label for="performDate" class="col-md-12">結束售票</label> -->
                        <div class="col-md-12 mb-2">
                            <input class="form-control" id="performDate" name="performDate" type="hidden">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-md-6">地點</label>
                        <label for="address" class="col-md-6">地址</label>
                        <div class="col-md-6 mb-2">
                            <input class="form-control" type="text" name="activityLocation">
                        </div>
                        
                        <div class="col-md-6 mb-2">
                            <select class="form-control" id="areaId" name="areaId">
                                <option value="1">中正區</option>
                                <option value="2">大同區</option>
                                <option value="3">中山區</option>
                                <option value="4">松山區</option>
                                <option value="5">大安區</option>
                                <option value="6">萬華區</option>
                                <option value="7">信義區</option>
                                <option value="8">士林區</option>
                                <option value="9">北投區</option>
                                <option value="10">內湖區</option>
                                <option value="11">南港區</option>
                                <option value="12">文山區</option>
                                <option value="13">中區</option>
                                <option value="14">東區</option>
                                <option value="15">南區</option>
                                <option value="16">西區</option>
                                <option value="17">北區</option>
                                <option value="18">北屯區</option>
                                <option value="19">西屯區</option>
                                <option value="20">南屯區</option>
                                <option value="21">烏日區</option>
                                <option value="22">豐原區</option>
                                <option value="23">潭子區</option>

                            </select>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="activityAddress">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Price1" class="col-md-6">單人票</label>
                        <label for="Price2" class="col-md-6">雙人票</label>
                        <div class="col-md-6 mb-2">
                            <input class="form-control" type="text" name="unitPrice1">
                        </div>
                        
                        <div class="col-md-6 mb-2">
                            <input class="form-control" type="text" name="unitPrice2">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="maximum" class="col-md-12">人數上限</label>
                        <div class="col-md-12">
                            <input class="form-control" type="number" value="50" id="ticketAmount" name="ticketAmount">
                        </div>
                    </div>

                </div>
                <!-- 右側 -->
                <div class="col-md-5 ml-5 mr-5">

                    <div class="form-group row">
                        <div class="col-md-10 text-center" v-if="preview">
                            <img id="preview_img" :src="preview" alt="">
                            <input class="form-control" type="file" id="activityFile" name="activityFile" value=""
                                accept="image/jpeg image/jpg image/png" @change="previewImage">
                        </div>
                        
                    </div>
                    <div class="form-group">

                        <input type="checkbox" class="bandId" name="bandId" value="1" style="appearance:auto;margin-left: 0;"/> 告五人
                        <input type="checkbox" class="bandId" name="bandId" value="2" style="appearance:auto;margin-left: 0;"/> 美秀集團
                        <br>
                        <input type="checkbox" class="bandId" name="bandId" value="3" style="appearance:auto;margin-left: 0;"/> 理想混蛋
                        <input type="checkbox" class="bandId" name="bandId" value="4" style="appearance:auto;margin-left: 0;"/> 佛跳牆

                    </div>
                   

                    <div class="form-group row">
                        <label for="activities" class="col-md-12">音樂會內容</label>
                        <div class="col-md-10">
                            <textarea class="form-control" name="activityContent" id="activityContent"
                                rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-12">
                            <br>
                        </div>
                        <div class="col-md-10  text-center">
                            <a href="/company"><input class="btn_tea1" type="button" value="取消"></a>
                            <input id="submitBtn" class="btn_tea2" type="button" value="發表">
                        </div>
                    </div>
                </div>
            </div>
        </form>


    <!-- 頁尾  開始-->

    <!-- 頁尾  結束-->
    <%-include("../footer.ejs")%>

    <script>
        // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423 
        // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18 
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }


        $(function () {
            
            $('#submitBtn').click(function () {

                var file = document.getElementById("activityFile")
                //因為準備用post提交，又因為圖片的內容比較大，所以使用formdata來承載資料
                //建立formdata物件
                var photoData = new FormData();
                //給formdata物件中放入資料(鍵值對的方式)
                photoData.append('file', file.files[0]);
                // alert(photoData);

                // =============================================

                var today = new Date();
                // console.log(today);

                //整理表單資料到變數
                var data = $('#form').serializeArray();                
                data[1].value =new Date(data[1].value).Format("yyyy-MM-dd hh:mm:ss");
                data[2].value =new Date(data[2].value).Format("yyyy-MM-dd hh:mm:ss");
                data[3].value =new Date(data[3].value).Format("yyyy-MM-dd hh:mm:ss");
                data[4].value =new Date(today).Format("yyyy-MM-dd hh:mm:ss");

                JSONData = serializeToJSON(data);
                alert(JSONData);
                
            
                $.ajax({
                    url: "/activity/update",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSONData,
                    success: function (res) {
                        var res = JSON.parse(res)
                        if (res.errno === 1) {
                            alert("更新成功!")
                            // location.reload()
                            location.href = `/activity`
                        } else if (res.errno === 0) {
                            alert("更新失敗!")
                        }
                    },
                    error: function () {
                        alert("系統錯誤!")
                    }
                })
                $.ajax({
                       url: '/activity/upload/file',//請求路徑
                       type: 'POST',
                       data: photoData,
                       contentType: false,//為了讓瀏覽器根據傳入的formdata來判斷contentType
                       processData: false,//同上
                       success: function (data) {
                       },
                       error: function (err) {
                           console.log(err);
                       }
                   });

            });

            function serializeToJSON(data) {
                var activityFileValue = document.getElementById("activityFile").value.split('\\').pop();   
                var Today = new Date();
                var date = Today.getFullYear().toString() + (Today.getMonth() + 1).toString().padStart(2, "0") + Today.getDate().toString().padStart(2, "0");
                activityFileValue = date + '-' + activityFileValue;
                var band=[]
                $.each($("input[name='bandId']:checked"), function(){
                    band.push($(this).val());
                });
                // alert(band.length)
                var bandLength = band.length
                
                var values = {};
                for (index in data) {
                    values[data[index].name] = data[index].value;
                }
                
                // console.log(values);
                // typeof_values = object
                values["activityFile"] = activityFileValue;
                values["bandId"] = band;
                // values["bandIdLength"] = bandLength;

                // alert(values.activityFile);

                return JSON.stringify(values)
            }
        })


    </script>

</body>

</html>