<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../plugin/zInput/zInput_default_stylesheet.css">
    <link rel="stylesheet" href="../css/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/activity_all.css">
    <script src="../js/jquery.js"></script>
    <script src="../plugin/zInput/zInput.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>

<body  class="campaign_body">
    <!-- 左側的篩選列--start -->
    <div class="tag_div">
        <form action="">
            <label for="">
                <h3 style="color: #fff;">地區</h3>
            </label>
            <select class="form-control">
                <option>北部</option>
                <option>中部</option>
                <option>南部d</option>
            </select>
            <label for="">
                <h3 style="color: #fff;">標籤</h3>
            </label>
            <div id="affected">
                <input type="checkbox" name="check[]" title="獨立">
                <input type="checkbox" name="check[]" title="嘻哈">
                <input type="checkbox" name="check[]" title="爵士">
                <input type="checkbox" name="check[]" title="歌劇">
                <input type="checkbox" name="check[]" title="流行">
                <input type="checkbox" name="check[]" title="搖滾">
                <input type="checkbox" name="check[]" title="歌劇">
                <input type="checkbox" name="check[]" title="國樂">
                <input type="checkbox" name="check[]" title="合唱">
                <input type="checkbox" name="check[]" title="佛教">
                <input type="checkbox" name="check[]" title="古典">
                <input type="checkbox" name="check[]" title="舞曲">

            </div>

        </form>
    </div>
    <div class="tag_div_icon">》</div>
    <!-- 左側的篩選列--end -->


    <!-- 包所有活動的div--start -->
    <div class="campaign_all">
        <div class="campaign_item">
            <h1 class="campaign_title">2021 有效期限音樂祭 Best Before Festival</h1>
            <a href="./campaignContent.html"><img class="campaign_img" src="../image/campaign/_NEW_SerriniConcert_Poster_KKTIX_original.jpg"
                    alt=""></a>

        </div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>
        <div class="campaign_item"></div>

    </div>
    <!-- 包所有活動的div--end -->

    <script>
        $(function () {

            //紀錄選取到的tag名稱
            $(window).on('load change', function () {
                const inputDiv = $('.zSelected input');
                var x =[];

                for (item of inputDiv) {
                    x.push($(item).prop('title'));
                    // 獨立 嘻哈 爵士 歌劇 流行 搖滾 歌劇 國樂 合唱 佛教 古典 舞曲
                }

                $('zInput zCheckbox').click(
                    console.log(x)
                )
                
            })





            //左側導覽列動畫
            $('.tag_div_icon').click(function () {
                // console.log("aaaa");
                $(this).addClass('animation');
                $('.tag_div').addClass('animation');
            })

            $('.campaign_all').click(function () {
                // console.log("sss");
                if ($('.tag_div_icon').css('width') == '0px') {
                    $('.tag_div').removeClass('animation');
                    $('.tag_div_icon').removeClass('animation');
                }
            })



            var campaign_item = document.querySelectorAll('.campaign_item');

            $(window).on('load resize scroll', function () {
                var scrollTop = document.documentElement.clientHeight;

                campaign_item.forEach((elm, idx) => {
                    var itemTop = campaign_item[idx].getBoundingClientRect().top;

                    if (scrollTop + 25 > itemTop) {
                        $(campaign_item[idx]).css({
                            'transform': 'translateY(0)',
                        });
                    } else {
                        $(campaign_item[idx]).css({
                            'transform': '',
                        });
                    }
                })

            })

        });

        $('#affected').zInput();//外掛的zInput




    </script>
</body>

</html>