<div class="left_div">
    <p id="getback"><i class="fas fa-chevron-right" style="transform: rotate(180deg);"></i>&nbsp;<span>上一頁</span></p>
    <br>
    <b>活動資訊</b>
    <div class="table_con">
        <p>Day1</p>
        <p class="date1"></p>
        <p>Day2</p>
        <p class="date2"></p>

        <p>預售</p>
        <p class="sell"></p>

        <p>地點</p>
        <p class="location"> </p>

        <p>地址</p>
        <p> <span class="area"></span><span class="address"></span> </p>
    </div>
    <b>活動票券</b>
    <div class="table_con">
        <p>單人票</p>
        <p class="unitPrice1"></p>

        <p>雙人票</p>
        <p class="unitPrice2"></p>
    </div>

</div>
<!-- 左側的div--end -->

<div class="content_text_div">

    <h5 class="title" style="display: inline-block;"></h5>


    <p class="content">
    </p>

    <hr>

    <h5 class="sub_title">節 目 資 訊</h5>
    <p>
    <table style=" display: inline-block;">
            <tr>
                <td class="big_title">活動日期：</td>
                <td class="little_title">第1日</td>
                <td class="date1"></td>
            </tr>
            <tr>
                <td class="big_title"></td>
                <td class="little_title">第2日</td>
                <td class="date2"></td>
            </tr>

    </table>

    活動地點： <span class="location"></span>

    活動地址： <span class="area"></span><span class="address"></span>

    演出樂團： <span class="checkBand"></span>

    啟售時間： <span class="sell"></span>

    購票方式： MUMU及全台全家便利商店
    <table style=" display: inline-block;">
        <tr>
            <td class="big_title">票數：</td>
            <td><span class="date1"></span> <span class="ticketAmount"></span>張（剩餘 <span class="ticketAmount emphasize"> </span> 張） </td>
        </tr>
        <tr>
            <td class="big_title"></td>
            <td><span class="date2"></span> <span class="ticketAmount"></span>張（剩餘 <span class="ticketAmount emphasize"> </span> 張） </td>
        </tr>

    </table>

    票　　價： 單人票　<span class="unitPrice1 emphasize"></span>　|　雙人票 <span class="unitPrice2 emphasize"></span>

    主辦單位： MUMU、  <span class="cName"></span>
    </p>

    <form method="POST" action="/cart">
        <p>選擇場次:</p>
        <select name="activityDetailId" id="activityDetailId" class="form_input">
            <option class="date1"></option>
            <option class="date2"></option>
        </select>

        <p>單人票</p><input name="quantity" value="0" type="number" class="" min="0">

        <p>雙人票</p><input name="quantity" value="0" type="number" class="" min="0">

    </form>
    <hr>

</div>