<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BAND</title>


    <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css/band.css">
    <script src="https://use.fontawesome.com/b4547aa58e.js"></script>
    <style>
        img {
            width: 60%;
            opacity: .8;
            float: right;
            right: -100;
        }

        #cover {
            /* background-color: #000; */
            display: block;
        }

        .Album {
            clear: both;
            /* text-align: center; */
            color: #384F5C;
            margin: 100px;
            text-align: center;
        }
    </style>
</head>

<body>


    <!-- <div class="container"> -->
    <div class="tm-top-bar">導覽列?</div>
    <div class="tm-bar-2"></div>




    <section class="Banner">
        <!-- <div class=" "> -->

        <div id="cover">
            <img src="./images/Alexandros.jpg" alt="">

        </div>
        <!-- </div> -->
        <div id="shape">
            <div class="">
                <%= data2 %>
                    <%= data %>
                        <h2>

                        


                        </h2>
                        <p>

                            <span><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></span>
            </div>
        </div>


    </section>

    <!-- 第二個圖文 (待定) -->
    <!-- <section class="row">
      
        <div class="">
          <div> <img src="./images/Alexandros.jpg" alt=""> </div>
        </div>
      </div>
  </section> -->

    <section class="">
        <div class="Album">
            <h2 class="">歷年專輯</h2>
            <!-- <ol>
                <li>2010年1月20日 Where's My Potato? </li>
                <li>2011年2月9日 I Wanna Go To Hawaii. </li>
                <li>2012年4月4日 Schwarzenegger </li>
                <li>2013年6月26日 Me No Do Karate. </li>
                <li>2015年6月17日 ALXD </li>
                <li>2016年11月9日 EXIST! </li>
                <li>2018年11月21日 Sleepless in Brooklyn
                </li>

            </ol> -->
            <table>
                <thead>
                    <tr>
                        <td>2010年1月20日</td>
                        <td>Where's My Potato?</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2011年2月9日</td>
                        <td>I Wanna Go To Hawaii.</td>
                    </tr>
                    <tr>
                        <td>2012年4月4日</td>
                        <td>Schwarzeneggertr</td>
                    </tr>
                    <tr>
                        <td>2013年6月26日</td>
                        <td>Me No Do Karate.</td>
                    </tr>
                    <tr>
                        <td>2015年6月17日</td>
                        <td>ALXD</td>
                    </tr>
                    <tr>
                        <td>2016年11月9日</td>
                        <td>EXIST!</td>
                    </tr>
                    <tr>
                        <td>2018年11月21日</td>
                        <td>Sleepless in Brooklyn</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <br>
    <br>
    <!-- 近期活動 -->
    <section class="row activityBg">
        <div class="activity ">
            <h2 class="text-center ">近期活動</h2>
            <div class="grid">
                <figure class="effect-lexi ">
                    <img src="./images/EXIST.jpg" alt="Image" class="">
                    <figcaption>
                        <p>3/30 台北小巨蛋</p>
                    </figcaption>
                </figure>
                <figure class="effect-lexi ">
                    <img src="./images/EXIST.jpg" alt="Image" class="">
                    <figcaption>
                        <p>4/21 Legacy Taipei 傳音樂展演空間</p>
                    </figcaption>
                </figure>
                <figure class="effect-lexi ">
                    <img src="./images/EXIST.jpg" alt="Image" class="">
                    <figcaption>
                        <p>5/20 PIPE Live</p>
                    </figcaption>
                </figure>
                <figure class="effect-lexi ">
                    <img src="./images/EXIST.jpg" alt="Image" class="">
                    <figcaption>
                        <p>5/20 PIPE Live</p>
                    </figcaption>
                </figure>


            </div>
        </div>
    </section>



    <footer>
        FOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
    </footer>
    <div class="tm-top-bar">FOOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</div>
    <div class="tm-bar-2"></div>
    <!-- </div>  -->
    <!-- container -->

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script>
        $(function () {
            $('.tm-gallery').slick({
                dots: true,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 2,
                responsive: [{
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                }, {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
    </script>
</body>

</html>